@use 'variables';

.settings {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
  align-items: center;
  font-size: min(3.8vw, 0.8em);  

  .theme-and-audio-wrapper {
    display: flex;
    gap: 0.5em;
  }

  h3 {
    margin-top: 1em;
  }
}